.Accounttypes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;



}

.Accbuttons{
    height: 20vh;
    width: 30%;
    background-color: black;
    color: white;
    font-size: 100%;
}
.Accbuttons:hover{
    background:white;
    color: #000;
    border: 2px solid black;
    transition: all ease-in 0.5ms;
}

.connect{
    text-decoration: none;
    color:white;
    height: 19vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.connect:hover{
    background:white;
    color: #000;
    transition: all ease-in 0.5ms;
}